-context ||= :cost

%h1 Editing material_cost

= render :partial => 'form', :locals => {:context => context}

= link_to 'Show', [@task, @material_cost]
\|
= link_to 'Back', task_material_costs_path(@task)
