=render :partial => 'shared/project_nav', :locals => {:current => :tasks}

.container
  =render :partial => 'tasks/nav', :locals => {:current => :costs}
  
  %h2
    Materials:
    = @supplier.name
    = @material_cost.date.to_s :long

  =render :partial => 'material_cost_lines/material_cost_lines_list', :locals => {:material_cost_lines => @material_cost.line_items, :material_cost => @material_cost, :context => params[:context] || :po}
  
  =add_button 'Add Material', new_material_cost_line_item_path(@material_cost)

