%h2
  Materials:
  = @material_cost.date
  ($
  =@material_cost.cost
  )

=render :partial => 'shared/project_nav'

=render :partial => 'shared/breadcrumbs', :locals => {:ancestors => [@project, @task] }

=render :partial => 'material_cost_lines/material_cost_lines_list', :locals => {:material_cost_lines => @material_cost.line_items, :material_cost => @material_cost}

= link_to 'Edit', edit_task_material_cost_path(@task, @material_cost)
\|
= link_to 'Back', task_material_costs_path(@task)
