=render :partial => 'shared/project_nav'

%h1
  = @material_cost.task.name
  Materials:
  = @material_cost.date.to_s :long

%hr

=render :partial => 'material_cost_lines/material_cost_lines_list', :locals => {:material_cost_lines => @material_cost.line_items, :material_cost => @material_cost}
