%p#notice= notice

%p
  %b Date:
  = @material_cost.date

= link_to 'Edit', edit_project_task_material_cost_path(@project, @task, @material_cost)
\|
= link_to 'Back', project_task_material_costs_path(@project, @task)
