%tr.component_fields
  %td.field{:colspan => 3}
    -unless @parent_component.nil?
      = f.hidden_field :parent_id, :value => @parent_component.id
    %strong= f.label :name
    = f.text_field :name
  %td.actions.control{:colspan => 2}
    = f.submit 'Save'
      
