=render :partial => 'shared/project_nav', :locals => {:current => :components}

%h1 Editing component

= render 'form'

= link_to 'Show', [@project, @component]
\|
= link_to 'Back', project_components_path(@project)
