-content_for :head do
  =javascript_include_tag 'jquery.tablednd.js'
  =render :partial => 'dnd.js', :locals => {:url => sort_project_components_path(@project)}
  
=render :partial => 'shared/project_nav', :locals => {:current => :components}

.container
  -unless @parent_component.nil?
    -@component = @parent_component
    =render :partial => 'nav', :locals => {:current => :subcomponents}
  
    =render :partial => 'component_list', :locals => {:parent => @project, :components => @components}
    =#render :partial => 'hierarchy', :locals => {:context => nil, :components => @component.tree, :base_depth => @component.depth}

    =add_button 'Add Subcomponent', new_project_component_path(@project, :parent_id => @component.id, :context => @component.id) 
           
  -else
    %h1 Design Components

    %hr
  
    =render :partial => 'hierarchy', :locals => {:context => nil, :components => @project.component_tree}
    
    =add_button 'Add Root Component', new_project_component_path(@project)

