=render :partial => 'shared/project_nav', :locals => {:current => :components}

.container

  =render :partial => 'nav', :locals => {:current => :costs}
  
  .tabs
    %ul
      %li=link_to 'Unit Cost', '#new_unit_cost'
      %li=link_to 'Fixed Cost', '#new_fixed_cost'
      %li=link_to 'Contract Cost', '#new_contract_cost'
      
    %hr
    
    #new_unit_cost
      =render :partial => 'unit_cost_estimates/form', :locals => {:unit_cost_estimate => UnitCostEstimate.new(:component_id => @component.id)}
    
    #new_fixed_cost
      =render :partial => 'fixed_cost_estimates/form', :locals => {:fixed_cost_estimate => FixedCostEstimate.new(:component_id => @component.id)}
      
    #new_contract_cost
      =render :partial => 'contracts/form', :locals => {:contract => Contract.new}


