%h1 Editing derived_quantity

= render 'form'

= link_to 'Show', project_component_derived_quantity_path(@project, @component, @derived_quantity)
\|
= link_to 'Back', project_component_derived_quantities_path(@project, @component)
