#unassigned_unit_costs
  %table.unit_costs
    - unit_cost_estimates.each do |unit_cost_estimate|
      %tr{:id => "unit_cost_estimate_#{unit_cost_estimate.id}"}
        %td
          =link_to unit_cost_estimate.component.name, [@project, unit_cost_estimate.component]
          '>'
          =unit_cost_estimate.name
        %td.control{:colspan => 2}= link_to 'Set Task', edit_component_unit_cost_estimate_path(unit_cost_estimate.component, unit_cost_estimate, :context => :unassigned), :remote => true

    - if unit_cost_estimates.empty?
      %tr
        %td{:colspan => 10} (None)

    
