%table
  %tr
    %th Name
    %th Date
    %th.currency Invoice
    %th.control
    %th.control

  - invoices.each do |invoice|
    %tr
      %td
        -case invoice.state
        -when 'new'
          =icon :wrench
        -when 'missing_task', 'payments_unbalanced'
          =icon :error
        -when 'retainage_expected', 'retainage_unexpected'
          =icon :wrench
        -when 'costs_specified'
          =icon :wrench
        -when 'complete'
          =icon(:accept)
        = invoice.name
      %td= invoice.date.to_s :long unless invoice.date.nil?
      %td.currency= number_to_currency invoice.invoiced
      %td.control.show
        -case invoice.state
        -when 'new', 'missing_task', 'payments_unbalanced'
          =link_to 'Edit', start_invoice_path( invoice)
        -when 'retainage_expected', 'retainage_unexpected'
          =link_to 'Edit', set_amounts_invoice_path( invoice)
        -when 'costs_specified'
          =link_to 'Select Template', select_template_invoice_path( invoice)
        -when 'complete'
          =link_to 'Show', finished_invoice_path( invoice)
      %td.control.destroy= link_to icon(:delete), [@project, invoice], :confirm => 'Are you sure?', :method => :delete

