%h2.steps
  Steps:
  
  %ul
    %li.step
      -if current == :start
        %span.emphasize Start
      -else
        =link_to 'Start', start_invoice_path( @invoice)

    %li.step >

    %li.step
      -if current == :assign_costs
        %span.emphasize Assign Costs
      -elsif ['retainage_expected', 'retainage_unexpected', 'markups_added', 'costs_specified', 'complete'].include? @invoice.state
        =link_to 'Assign Costs', assign_costs_invoice_path(@invoice)
      -else
        Assign Costs
                    
    %li.step >
    
    %li.step
      -if current == :set_amounts
        %span.emphasize Set Invoice Amounts
      -elsif ['retainage_expected', 'retainage_unexpected', 'markups_added', 'costs_specified', 'complete'].include? @invoice.state
        =link_to 'Set Invoice Amounts', set_amounts_invoice_path(@invoice)
      -else
        Set Invoice Amounts
      
    %li.step >

    %li.step
      -if current == :add_markups
        %span.emphasize Add Markups
      -elsif ['retainage_expected', 'retainage_unexpected', 'costs_specified', 'markups_added', 'complete'].include? @invoice.state
        =link_to 'Add Markups', add_markups_invoice_path(@invoice)
      -else
        Add Markups
      
    %li.step >
        
    %li.step
      -if current == :select_template
        %span.emphasize Select Template
      -elsif ['markups_added', 'complete'].include? @invoice.state
        =link_to 'Select Template', select_template_invoice_path(@invoice)
      -else
        Select Template
      
    %li.step >
    
    %li.step
      -if current == :finished
        %span.emphasize Finished
      -elsif @invoice.state == 'complete'
        =link_to 'Finished', finished_invoice_path(@invoice)
      -else
        Finished
