-content_for :head do
  =javascript_include_tag "jquery.dimscreen.js"
  
.control
  =render :partial => 'shared/project_nav', :locals => {:current => :invoicing}

.container
  %h1
    =@invoice.name
    =@invoice.date

  %hr

  .control=render :partial => 'steps', :locals => {:current => :finished}

  =render :partial => @invoice.template
