=render :partial => 'shared/project_nav'

%h1 Invoices

%hr

=render :partial => 'invoice_list', :locals => {:invoices => @invoices}

%br

=form_for [@project, Invoice.new] do |f|
  =f.submit 'New Invoice'
