-content_for :head do
  =javascript_include_tag "jquery.dimscreen.js"

=render :partial => 'shared/project_nav'

%h1
  Invoice:
  =@invoice.date

%hr

=render :partial => 'steps', :locals => {:current => :select_template}

=form_for [@project, @invoice] do |f|
  .field
    =f.label :template
    =f.select :template, @templates.map{|t| [t[:name], t[:path]]}, {:include_blank => '-- No Template Selected -- '}
    
  .field
    =f.submit 'Next'
