-content_for :head do
  =javascript_include_tag "jquery.dimscreen.js"

=render :partial => 'shared/project_nav', :locals => {:current => :invoicing}

.container
  %h1
    Invoice:
    =@invoice.name
    =@invoice.date

  %hr

  =render :partial => 'steps', :locals => {:current => :set_amounts}

  -if @invoice.state == 'retainage_unexpected'
    / Retainage Unexpected
    .notice
      %h2 Retainage doesn't match - make sure this is what you intended
      %p
        Line items with unexpected retainage marked with
        =icon :error
      %p Delete retainage and save to automatically calculate retainage
  -else
    / Retainage Expected
    
  -lines = @invoice.lines.paginate(:page => params[:page], :per_page => 20)
  =form_for [@project, @invoice], :url => project_invoice_path(@project, @invoice) do |invoice_form|
    =#render :partial => 'invoice_lines/lines', :locals => {:lines => @invoice.lines, :invoice_form => invoice_form}
    =render :partial => 'invoice_lines/lines', :locals => {:lines => lines, :invoice_form => invoice_form}
    
    =hidden_field_tag :redirect_to, set_amounts_invoice_path(@invoice, :page => params[:page])
    
    = invoice_form.submit 'Save Changes'
    
  %p
    = will_paginate lines
    = page_entries_info lines
    
  %p
    =form_tag accept_invoice_path(@invoice), :method => :get do 
      -unless @invoice.retainage_as_expected?
        .notice
          =submit_tag 'Next Step'
          =icon :error
          Unexpected Retainage
      -else
        =submit_tag 'Next Step'
