-content_for :head do
  =javascript_include_tag "jquery.dimscreen.js"

=render :partial => 'shared/project_nav', :locals => {:current => :invoicing}

.container
  %h1
    Invoice:
    =@invoice.name
    =@invoice.date

  %hr

