-content_for :head do
  =javascript_include_tag "jquery.dimscreen.js"

=render :partial => 'shared/project_nav'

%h1
  Invoice:
  =@invoice.date

%hr

=render :partial => "state_#{@state}" unless @state == 'complete'
=render :partial => @invoice.template if @state == 'complete'
