-@component ||= @contract.component

=render :partial => 'shared/project_nav', :locals => {:current => :contracts}

.container
  = render :partial => 'nav', :locals => {:current => :edit}
  
  = render 'form'


            
