=render :partial => 'shared/project_nav', :locals => {:current => :contracts}

%h1 Editing contract

= render 'form'

= link_to 'Show', [@project, @contract]
\|
= link_to 'Back', project_contracts_path(@project)
