-@component ||= @contract.component

=render :partial => 'shared/project_nav', :locals => {:current => :contracts}

.container
  = render :partial => 'components/nav', :locals => {:current => :costs}
  
  = render 'form'


            
