-content_for :head do
  = javascript_include_tag 'jquery.tablednd.js'
  =render :partial => 'dnd.js'

=render :partial => 'shared/project_nav', :locals => {:current => :dashboard}

.container
  =render :partial => 'projects/nav', :locals => {:current => :contracts}

  =render :partial => 'contract_list', :locals => {:contracts => @contracts}
