-content_for :head do
  = javascript_include_tag 'jquery.tablednd.js'
  =render :partial => 'dnd.js'

=render :partial => 'shared/project_nav', :locals => {:current => :contracts}

.container
  %h1 Contracts
  
  %hr

  =render :partial => 'contract_list', :locals => {:contracts => @contracts}
