=render :partial => 'shared/project_nav'

%h1
  Fixed-Bid Contract: 
  = @contract.name

%hr

%h2
  Bid:
  = number_to_currency @contract.bid
  =form_for [@project, @contract] do |f|
    = f.collection_select(:bid_id, @contract.bids, :id, :contractor, { :include_blank => "-- No Active Bid --" }, :onchange =>"$('#edit_contract_#{@contract.id}').submit();")

%h3 Invoices to Date
=render :partial => 'contract_costs/contract_costs_list', :locals => {:contract_costs => @contract.costs}

%hr

%h3 Other Bids
=render :partial => 'bids/bid_list', :locals => {:bids => @contract.bids}
