=render :partial => 'shared/project_nav'

%h1
  Fixed-Bid Contract: 
  = @contract.name

%hr

%h2
  Bid:
  = number_to_currency @contract.bid

%h3 Invoices to Date
=render :partial => 'contract_costs/contract_costs_list', :locals => {:contract_costs => @contract.costs}

%hr

%h3 Other Bids
=render :partial => 'bids/bids_list', :locals => {:bids => @contract.bids}
