%tr.task_fields
  %td.field
    -unless @parent_task.nil?
      = f.hidden_field :parent_id, :value => @parent_task.id
    %strong= f.label :name
    = f.text_field :name
  %td
  %td
  %td
  %td.actions.control{:colspan => 3}
    = f.submit 'Save'
      
