-current ||= nil
%h1
  Task: 
  =link_to @task.name, @task

%ul.nav
  %li{:class => current == :summary ? 'current' : nil}=link_to "Summary", @task
  %li{:class => current == :estimated_costs ? 'current' : nil}=link_to "Estimated Costs", estimated_costs_task_path( @task )
  %li{:class => current == :markups ? 'current' : nil}=link_to "Markups(#{@task.markups.count})", task_markups_path(@task)
  %li{:class => current == :costs ? 'current' : nil}=link_to "Costs", costs_task_path( @task )
  %li{:class => current == :edit ? 'current' : nil}=link_to 'Edit Task', edit_task_path(@task)
%hr
