-content_for :head do
  =javascript_include_tag "autocomplete-rails.js"
  =javascript_include_tag "jquery.dimscreen.js"
  =stylesheet_link_tag 'jquery.theme.css', :media => 'screen, projection'
  
=render :partial => 'shared/project_nav', :locals => {:current => :tasks}

.container
  =render :partial => 'nav', :locals => {:current => :costs}

  %h2 Purchase Orders
        
  =render :partial => 'material_costs/material_cost_list', :locals => {:task => @task, :material_costs => @task.purchase_orders, :context => :po}

  =add_button 'New Purchase Order', new_task_material_cost_path( @task)

  %h2 Labor Costs
  =render :partial => 'labor_costs/labor_cost_list', :locals => {:labor_costs => @task.labor_costs, :context => :task}

  =add_button 'Log Hours', new_task_labor_cost_path( @task)
      
  %h2 Material Costs
  =render :partial => 'material_costs/material_cost_list', :locals => {:task => @task, :material_costs => @task.completed_purchases, :context => :cost}
  
  =add_button 'Add Material Cost', new_task_material_cost_path( @task)
