=render :partial => 'shared/project_nav'

%h1
  Construction Task:
  = @task.name

%hr

%h2 Markups

=render :partial => 'applied_markup_lines', :locals => {:markups => @task.markups}

-unless @task.purchase_orders.empty?
  %h2 Purchase Orders
  
  =render :partial => 'material_costs/material_cost_list', :locals => {:task => @task, :material_costs => @task.purchase_orders, :context => :po}
  
  %hr
  
%h2 Costs to Date
%h3 Labor
=render :partial => 'labor_costs/labor_cost_list', :locals => {:labor_costs => @task.labor_costs}
%h3 Material
=render :partial => 'material_costs/material_cost_list', :locals => {:task => @task, :material_costs => @task.completed_purchases, :context => :cost}

%hr

%h2 Totals

%table
  %tr
    %th
    %th.currency Cost
    %th.control
    %th.control
    %th.control
  %tr
    %td Labor Costs
    %td.currency= number_to_currency(@task.labor_cost)
    %td{:colspan => 3}
  %tr
    %td Material Costs
    %td.currency= number_to_currency(@task.material_cost)
    %td{:colspan => 3}
  %tr.totals
    %td.right
      %strong Subtotal
    %td.right
      %strong= number_to_currency(@task.cost)
    %td{:colspan => 3}

%hr

%h2 Estimated Costs
%h3 Unit Costs
=render :partial => 'unit_cost_estimates/unit_cost_estimate_list', :locals => {:parent => @task, :unit_cost_estimates => @task.unit_cost_estimates, :limit => 5, :context => :tag}
%h3 Fixed Costs
=render :partial => 'fixed_cost_estimates/fixed_cost_estimate_list', :locals => {:parent => @task, :fixed_cost_estimates => @task.fixed_cost_estimates, :limit => 5, :context => :tag}
