-allocation ||= nil

.allocation{:class => ["resource_#{request.resource_id}", request.project.color.nil? ? "project_color_#{1+(request.project_id % 5)}" : "project_color_#{request.project.color}", template ? 'insertion_content' : nil], :id => allocation.nil? ? nil : "allocation_#{allocation.id}"}
  -if request.urgent
    =icon(:error)
  %strong=request.project.short.nil? ? request.project.name : request.project.short
  =link_to request.task.name, request.task unless request.task.blank?
  -unless allocation.nil?
    .delete
      =link_to icon(:delete), allocation, :method => :delete, :remote => true
      
    =form_for allocation, :remote => true do |f|
      =f.hidden_field :start_date