<% if @resource_request.errors.any? %>
  //Error
  
  <% content_for :error_tr do %>
    <div class="error">
      <%= error_messages_for(@resource_request) %>
    </div>
  <% end %>

  //Hide the flash notice div
  $("#flash_notice").hide(300);

  $(".fixed_wrapper .error").remove();
  $(".fixed_wrapper h1").after("<%= escape_javascript( yield :error_tr ) %>");
  
<% else %>
  //Success
  
  location.reload();
  
<% end %>
