=render :partial => 'shared/project_nav', :locals => {:current => :resources}

.container

  %h1 Editing Resource Request

  = render 'form'

  = link_to 'Show', [@project, @resource_request]
  \|
  = link_to 'Back', project_resource_requests_path(@project)
