<% content_for :content do %>
  <div class="fixed_wrapper">
    <div class="popup">
      <h1 class="new_order">Add to Schedule</h1>
      <%= render :partial => 'form_quick' %>
    </div>
  </div>
<% end %>

<% content_for :cancel_link do %>
  <%= link_to( 'Cancel', resource_resource_allocations_path(@resource_request.resource) ) %>
<% end %>

$.dimScreen(500, .25, function() {
  $("body").prepend("<%= escape_javascript( yield :content ) %>");
  $("form .submit").append("or <%= escape_javascript yield :cancel_link %>")
  
  $("form .submit a").click( function(e) {
    $('.fixed_wrapper').remove();
    $.dimScreenStop();
    e.preventDefault();
  } )
});

