body.bp
  .insertion_content
    display : none

  .timeline
    h2
      float : left
      
    .quick_view
      font-size : 1.5em
      float : right
      margin-bottom : 1em
        
      ul
        font-weight : bold
        display : inline

        a
          color : black
          text-decoration : none
    
        li
          display : inline
          padding : .1em
      
          &:hover
            border-bottom : 4px solid #ccc
      
  .day_labels
    clear : both
    
    .day_label
      float : left
      width: 110px
      margin-right : 23px
      margin-bottom : 10px
      height : 20px
      
  .requests
    .projects
      -moz-column-count : 3
      -moz-column-gap : 20px
      -webkit-column-count : 3
      -webkit-column-gap : 20px
      column-count : 3
      column-gap : 20px
      clear : both
      
    .project
      display : inline-block
      width : 270px
      /* float : left
    
      border-left : 4px solid #ccc
      padding-left : .5em
      margin-right : 2em
      margin-bottom : .5em
    
      &.project_color_1
        border-left : 4px solid $project_color_1
      &.project_color_2
        border-left : 4px solid $project_color_2
      &.project_color_3
        border-left : 4px solid $project_color_3
      &.project_color_4
        border-left : 4px solid $project_color_4
      &.project_color_5
        border-left : 4px solid $project_color_5
      
      h3
        margin-bottom : 0
    
      .request
        cursor : pointer
        border : 4px solid #ccc
        margin-top : 15px
    
        &:hover
          background : #eee
      
        &.active
          border : 4px solid #FF8566
  
  .weeks
    width : 960px
    height : 400px
    overflow : auto
    clear : both
    
    margin-bottom : 40px
    
    .week
      .day
        // Base Styles
        position : relative
        float : left
        width : 110px
        margin-right : 15px
        margin-bottom : 15px
        height : 80px
        border : 4px solid #ccc
        color : white
        border : 0
        margin-right : 23px
        margin-bottom : 23px      
        -moz-border-radius : 5px
        -webkit-border-radius : 5px
        border-radius : 5px
        a
          color : white
        &.past a
          color : black
        &.past
          color : black  
          margin-bottom : 15px
        &.today
          border : 4px solid black
          margin-right : 15px
          margin-bottom : 15px
          border : 4px solid black          
                             
        // States
        &.free
          color : black
          border : 4px solid #ccc
          margin-right : 15px
          margin-bottom : 15px
          &:hover
            background : #eee
          &.drop_active:hover
            background : white
        &.active.free, &.drop_active.free
          border : 4px dotted #ccc
          cursor : pointer
          .today
            border : 4px solid black  

        &.drop_hover.free
          border : 4px dotted green
             
            
        // Allocations
        .allocation
          width : 100%
          height : 100%
          padding : 4px
          display : none
          overflow : hidden
          -moz-border-radius : 5px
          -webkit-border-radius : 5px
          border-radius : 5px
                
          &.visible
            display : block
          &.project_color_1
            background : $project_color_1
            border-color : $project_color_1
          &.project_color_2
            background : $project_color_2
            border-color : $project_color_2
          &.project_color_3
            background : $project_color_3
            border-color : $project_color_3
          &.project_color_4
            background : $project_color_4
            border-color : $project_color_4
          &.project_color_5
            background : $project_color_5
            border-color : $project_color_5
          &.ui-draggable-dragging
            z-index : 10000
            -moz-box-shadow : 5px 5px 10px rgba(0,0,0,0.3)
            -webkit-box-shadow : 5px 5px 10px rgba(0,0,0,0.3)
            box-shadow : 5px 5px 10px rgba(0,0,0,0.3)
            
          .delete
            display : none
            position : absolute
            left : 4px
            bottom : 0   
        &:hover .allocation .delete
          display : block
        &.past .allocation, &.active.past .allocation, &.today .allocation, &.active.today .allocation
          width : 102px
          height : 72px
        &.today .allocation
          -moz-border-radius : 0
          -webkit-border-radius : 0
          border-radius : 0
        &.today .allocation.ui-draggable-dragging
          -moz-border-radius : 5px
          -webkit-border-radius : 5px
          border-radius : 5px
          width : 110px
          height : 80px
        &.past .allocation
          background : white
          border-width : 4px
          border-style : solid
          
        // Quick-Add
        .quick_add
          position : absolute
          left : 45px
          top : 30px
          display : none
        &.free:hover .quick_add
          display : block
        &.free.active:hover .quick_add, &.free.drop_active:hover .quick_add
          display : none
      
              
        // Date Text 
        .date_text
          position : absolute
          right : 5px
          bottom : 0

