body.bp
  padding : 2em
  
  ul.ui-menu
    margin : 0
    padding : 0
    
  hr
    margin-bottom : 2em
    margin-top : 2em
    height : 10px
    background : orange
    
  h2
    .control
      font-size : 12px
      
      input
        position : relative
        bottom : 2px
      
  .hidden
    display: none
    
  .de_emphasize
    color : grey
  .control
    a
      text_decoration : none
      
  .inline, .inline form, .inline input
    display : inline
    
  .field
    li
      list-style : none
    ul
      padding-left : 0
  
  .drag_handle:hover
    cursor : move
    
  .main_actions
    font-size : 140%
    
    a
      text-decoration : none
      margin-right : .25em
      margin-left : .25em
    
    a:hover
      text-decoration : underline
      
  input[type='text']
    width : 20em
    
  .main_nav
    text-align : right
    
    a
      text-decoration : none
