body.bp
  padding : 2em
  
  ul.ui-menu
    margin : 0
    padding : 0
    
  hr
    margin-bottom : 2em
    margin-top : 2em
    height : 10px
    background : orange
    
  .hidden
    display: none
    
  .main_actions
    font-size : 140%
    
    a
      text-decoration : none
      margin-right : .25em
      margin-left : .25em
    
    a:hover
      text-decoration : underline
    
  input[type='text']
    width : 100%
    
  .main_nav
    text-align : right
    
    a
      text-decoration : none
