body.bp
  .steps
  
    ul
      display : inline
      padding-left : .5em
      
    li
      display : inline
      
    .step
      color : #bbb
    
      .emphasize
        color : #000
        
    .step a
      color : #2F7D2F
      text-decoration : none
      
    .step a:hover
      text-decoration : underline
