@import "compass/utilities/tables/alternating-rows-and-columns"

body
  table
    width : 100%
    
    $table-color : white
    $table-header-color : #ccc
    $table-alternating-color : #eee
    tr:nth-child(odd)
      background-color : $table-alternating-color
    tr:nth-child(1)
      background-color : $table-header-color
    tr.totals
      background-color : $table-header-color
    td.currency, th.currency
      text-align : right
      width : 5em
    td.number, th.number
      text-align : right
      width : 5em
    td.control, th.control
      width : 50px
      text-align : center
    td.right, th.right
      text-align : right
    th
      text-align : center