.cost.fixed_cost_estimate.expand_active_area
  .left
    %h3=link_to fixed_cost.name, edit_component_fixed_cost_estimate_path(fixed_cost.component_id, fixed_cost)
    - unless @component.nil?
      =link_to icon(:delete), [@component, fixed_cost], :confirm => 'Are you sure?', :method => :delete
    - else
      =link_to icon(:delete), [@task, fixed_cost], :confirm => 'Are you sure?', :method => :delete
      
  .right
    %h3
      =number_to_currency fixed_cost.estimated_raw_cost
      ='/'
      %strong=number_to_currency fixed_cost.estimated_cost
    
  .details
    .left
      .task
        %strong Task:
        -unless fixed_cost.task.blank?
          =link_to fixed_cost.task.name, fixed_cost.task
        -else
          (None)  

