%h1 Editing fixed_cost_estimate

= render 'form'

= link_to 'Show', project_component_fixed_cost_estimate_path(@project, @component, @fixed_cost_estimate)
\|
= link_to 'Back', project_component_fixed_cost_estimates_path(@project, @component)
