%h1 Listing fixed_cost_estimates

=render :partial => 'fixed_cost_estimate_list', :locals => {:fixed_cost_estimates => @fixed_cost_estimates}

%br

= link_to 'New Fixed cost estimate', new_component_fixed_cost_estimate_path(@component)
