%p
  %b Name:
  = @fixed_cost_estimate.name
%p
  %b Cost:
  = @fixed_cost_estimate.raw_cost

= link_to 'Edit', edit_component_fixed_cost_estimate_path(@component, @fixed_cost_estimate)
\|
= link_to 'Back', component_fixed_cost_estimates_path(@component)
