-content_for :head do
  =javascript_include_tag "jquery.dimscreen.js"
  
=render :partial => 'shared/project_nav', :locals => {:current => :deadlines}

.container
  %h1 Construction Deadlines

  %hr

  =render :partial => 'deadline_list', :locals => {:deadlines => @deadlines}
        
