<% if @deadline.errors.any? %>
  //Error
  
  <% content_for :error do %>
    <div class='error'><strong><%= error_messages_for(@deadline) %></strong></div>
  <% end %>

  //Hide the flash notice div
  $("#flash_notice").hide(300);

  //Add a table row above the input with error info
  $("div.error").remove();
  $("h1.edit_deadline").after("<%= escape_javascript( yield :error ) %>");

<% else %>
  //Success
  
  window.location.reload();
  
<% end %>
