=render :partial => 'shared/project_nav'

.container
  %h1
    Employee:
    = @laborer.name

  %hr
  
  %p
    %b Pay rate:
    = @laborer.pay_rate
  %p
    %b Bill rate:
    = @laborer.bill_rate

  = link_to 'Edit', edit_laborer_path(@laborer)

  %h2 Recently Logged Hours

  %table
    %th Project
    %th Task
    %th Date
    %th Hours
    
    -@laborer.labor_cost_lines[0..20].each do |line|
      %tr
        %td=line.labor_set.task.project.name
        %td=line.labor_set.task.name
        %td.date=line.labor_set.date.to_s :long
        %td.number=line.hours
    
