%ul
	%li= link_to t(:components), project_components_path(@project)
	%li= link_to t(:tasks), project_tasks_path(@project)
	%li= link_to t(:contracts), project_contracts_path(@project)
	%li= link_to t(:deadlines), project_deadlines_path(@project)
	%li Reports