// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

$blueprint_grid_columns: 10;
$blueprint_grid_width: 90px;

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";

@import "partials/reset";
@import "partials/table";
@import "partials/nav";
@import "partials/popup";
@import "partials/ajax_progress";
@import "partials/form";

@import "partials/project_index";
@import "partials/timeline";
@import "partials/steps";
@import "partials/payment";
@import "partials/project_nav";
@import "partials/costs";
@import "partials/cost_creation";
@import "partials/labor_costs";
@import "partials/markup_table";

.negative {
  color : 'red';
}

.ui-tabs .ui-tabs-hide {
     display: none;
}
