%h1 Listing labor_cost_lines

=render :partial => 'labor_cost_lines_list', :locals => {:labor_cost_lines => @labor_cost_lines}
%br

= link_to 'New Labor cost line', new_labor_cost_line_path(@labor_cost)
