%p#notice= notice

%p
  %b Hours:
  = @labor_cost_line.hours

= link_to 'Edit', edit_project_task_labor_cost_line_path(@project, @task, @labor_cost_line)
\|
= link_to 'Back', project_task_labor_cost_lines_path(@project, @task)
