<% if @labor_cost_line.errors.any? %>
  //Error
  
  <% content_for :error_tr do %>
    <tr class='error'><td colspan = 10><strong><%= error_messages_for(@labor_cost_line) %></strong></td></tr>
  <% end %>

  //Hide the flash notice div
  $("#flash_notice").hide(300);

  //Add a table row above the input with error info
  $("tr.error").remove();
  $("tr.labor_cost_line_fields").before("<%= escape_javascript( yield :error_tr ) %>");

<% else %>
  //Success
  
  location.reload();
  
<% end %>
