-case params[:by]
-when nil, 'project'
  -unless @task.nil?
    =add_button 'New Date', new_task_labor_cost_path( @task, :by => params[:by] ), :remote => true
  
  =render :partial => 'labor_cost_lines/overview_by_project', :locals => {:task => @task}

-when 'employee'  
  =render :partial => 'labor_cost_lines/overview_by_employee', :locals => {:employee => @employee}
          
-when 'date'
  =render :partial => 'labor_cost_lines/overview_by_date', :locals => {:date => @date}



            
        
