-params[:by] ||= 'project'
=render :partial => 'shared/project_nav', :locals => {:current => :labor}

.container
  .header
    %h1 Labor
  
    .main_actions.inline
      View by:
      =link_to 'Project/Task', url_for(:by => 'project')
      =link_to 'Employee', url_for(:by => 'employee')
      =link_to 'Date/Time', url_for(:by => 'date')
  %hr
  
  .left.labor_nav
    -case params[:by]
    -when nil, 'project'
      =render :partial => 'nav_by_project', :locals => {:projects => @projects, :project => @project, :task => @task}

    -when 'employee'
      =render :partial => 'nav_by_employee', :locals => {:employees => @employees, :employee => @employee}

    -when 'date'
      =render :partial => 'nav_by_date', :locals => {:lines => @lines, :date => @date}
    
  .right.labor_costs
    =render :partial => 'costs'

    
    
=javascript_include_tag 'labor.js'