-content_for :head do
  =javascript_include_tag "jquery.dimscreen.js"

=render :partial => 'shared/project_nav', :locals => {:current => :tasks}

.container
  =render :partial => 'tasks/nav', :locals => {:current => :costs}
  

  %h2
    Labor: 
    = @labor_cost.date.to_s :long

  =render :partial => 'labor_cost_lines/labor_cost_lines_list', :locals => {:labor_cost_lines => @labor_cost.line_items}

  =add_button 'Add Employee Hours', new_labor_cost_line_item_path(@labor_cost)

