=render :partial => 'shared/project_nav'

%h1
  =@labor_cost.task.name
  Labor: 
  = @labor_cost.date.to_s :long

%hr

=render :partial => 'labor_cost_lines/labor_cost_lines_list', :locals => {:labor_cost_lines => @labor_cost.line_items}
