%data
  -@labor_costs.each do |labor_cost|
    %event{ |
      :start => labor_cost.date.strftime('%b %d %Y %H:%M:%S GMT%z'), |
      :end => (labor_cost.date + 1).strftime('%b %d %Y %H:%M:%S GMT%z'), |
      :durationEvent => 'true', |
      :title => labor_cost.task.name |
    } |