.control
  =render :partial => 'shared/project_nav'
  
%h1
  = @project.name
  Cost Estimate
%h2= Date::today.to_s :long

%p.control
  -if session[:break_out_unit_costs]
    %button=link_to "Show Without Unit Cost Breakout", estimate_report_for_project_path(@project, :break_out_unit_costs => 0)
  -else
    %button=link_to "Show Unit Cost Breakout", estimate_report_for_project_path(@project, :break_out_unit_costs => 1)

  -if session[:break_out_markup]
    %button=link_to "Hide Markup", estimate_report_for_project_path(@project, :break_out_markup => 0)
  -else
    %button=link_to "Show Markup", estimate_report_for_project_path(@project, :break_out_markup => 1)


%table.project_estimate
  %tr
    %th.control Expand
    %th.control Show Costs
    %th Building Component
    -if session[:break_out_unit_costs]
      %th Quantity / Source
      %th.currency Unit Cost
    -if session[:break_out_markup]
      %th Raw Cost
    %th.currency= session[:break_out_markup] ? 'Cost+Markup' : 'Cost'
    
  -@project.components.roots.each do |component|
    =render :partial => 'estimate_report_component', :locals => {:component => component, :indent => 0}
      
  -@project.contracts.where(:component_id => nil).each do |contract|
    =render :partial => 'estimate_report_contract', :locals => {:contract => contract, :indent => 0}

  %tr.totals
    %td.control
    %td.control
    %td.right{:colspan => session[:break_out_unit_costs] ? 3 : 1}
      Subtotal
    %td.currency{:colspan => session[:break_out_unit_costs] ? 2 : 1}
      =number_to_currency @project.estimated_raw_cost
    
  -Markup.all.each do |markup|
    -markup_sub = markup.apply_to( @project )
    -unless markup_sub == 0
      %tr.totals
        %td.control
        %td.control
        %td.right{:colspan => session[:break_out_unit_costs] ? 3 : 1}
          =markup.name
          =number_to_percentage( markup.percent, :precision => 0 )
        %td.currency{:colspan => session[:break_out_unit_costs] ? 2 : 1}
          =number_to_currency markup_sub
        
  %tr.totals
    %td.control
    %td.control
    %td.right{:colspan => session[:break_out_unit_costs] ? 3 : 1}
      %strong Total
    %td.currency{:colspan => session[:break_out_unit_costs] ? 3 : 1}
      %strong= number_to_currency @project.estimated_cost
