=render :partial => 'shared/project_nav', :locals => {:current => :projects}

.container
  %h1 Projects

  .main_actions
    View:
    =link_to 'Employees', laborers_path
    =link_to 'Users', admin_users_path
    
  %hr

  =render :partial => 'project_list'

