=render :partial => 'shared/project_nav'

%h1
  Project:
  = @project.name

%hr

%h2 Overview

(???)

%hr

%h2 Purchase Orders

- @project.tasks.each do |task|
  %h3
    Task:
    =link_to task.name, [@project, task]
  =render :partial => 'material_costs/material_cost_list', :locals => {:task => task, :material_costs => task.purchase_orders, :context => :po}
