-content_for :head do
  =javascript_include_tag "autocomplete-rails.js"
  =javascript_include_tag "jquery.dimscreen.js"
  =stylesheet_link_tag 'jquery.theme.css', :media => 'screen, projection'
  
=render :partial => 'shared/project_nav'

%h1
  Project:
  = @project.name

.main_actions
  View:
  =link_to "#{@project.name} Purchase Orders", purchase_order_list_for_project_path(@project)
  =link_to "All Purchase Orders", purchase_order_list_projects_path
  =link_to "Project Cost Estimate", estimate_report_for_project_path(@project)

%hr

%h2 Default Markups

=render :partial => 'applied_markup_lines', :locals => {:markups => @project.markups}

-unless @project.unit_cost_estimates.unassigned.count == 0 && @project.fixed_cost_estimates.unassigned == 0
  %h2 Costs Without a Task
  
  -unless @project.unit_cost_estimates.unassigned.count == 0
    %h3 Unit Costs
    
    =render :partial => 'unit_cost_estimates/unit_cost_estimate_list', :locals => {:unit_cost_estimates => @project.unit_cost_estimates.unassigned, :context => :project}
    
  -unless @project.fixed_cost_estimates.unassigned.count == 0
    %h3 Fixed Costs
    
    =render :partial => 'fixed_cost_estimates/fixed_cost_estimate_list', :locals => {:fixed_cost_estimates => @project.fixed_cost_estimates.unassigned, :context => :project}
    
%h2 Overview

%p
  Estimated Cost:
  %strong=number_to_currency @project.estimated_cost

%p
  Cost to Date:
  %strong=number_to_currency @project.cost

%p
  Projected Cost:
  %strong=number_to_currency @project.projected_cost

-unless @project.labor_cost.nil?
  %h3 Timeline
  =render :partial => 'timeline'

-unless @project.tasks.empty?
  %h3 Tasks
  = render :partial => 'tasks/project_dashboard', :locals => {:tasks => @project.tasks}
