=render :partial => 'shared/project_nav'

%h1
  Project:
  = @project.name

=#Print Purchase Orders

%hr

%h2 Default Markups

=render :partial => 'applied_markup_lines', :locals => {:markups => @project.markups}

%h2 Overview

-unless @project.labor_cost.nil?
  %h3 Timeline
  =render :partial => 'timeline'

-unless @project.tasks.empty?
  %h3 Tasks
  = render :partial => 'tasks/project_dashboard', :locals => {:tasks => @project.tasks}
