=render :partial => 'shared/project_nav'

%h1
  Project:
  = @project.name

.actions
  View:
  =link_to "#{@project.name} Purchase Orders", purchase_order_list_for_project_path(@project)
  =link_to "All Purchase Orders", purchase_order_list_projects_path
  =link_to "Project Cost Estimate", estimate_report_for_project_path(@project)

%hr

%h2 Default Markups

=render :partial => 'applied_markup_lines', :locals => {:markups => @project.markups}

%h2 Overview

%p
  Estimated Cost:
  %strong=number_to_currency @project.estimated_cost

%p
  Cost to Date:
  %strong=number_to_currency @project.cost

%p
  Projected Cost:
  %strong=number_to_currency @project.projected_cost

-unless @project.labor_cost.nil?
  %h3 Timeline
  =render :partial => 'timeline'

-unless @project.tasks.empty?
  %h3 Tasks
  = render :partial => 'tasks/project_dashboard', :locals => {:tasks => @project.tasks}
