=render :partial => 'shared/project_nav'

%h1
  Project:
  = @project.name

%hr

%h2 Overview

-unless @project.labor_cost.nil?
  %h3 Timeline
  =render :partial => 'timeline'

%h3=link_to "Print Purchase Orders", '/'

-unless @project.tasks.active.nil?
  %h3 Active Tasks
  = render :partial => 'tasks/project_dashboard', :locals => {:tasks => @project.tasks}

%h3 Actual vs Estimated
=render :partial => 'project_dashboard'