- @trackCount = 0
%data
  -@project.deadlines.each do |deadline|
    %event{ |
      :start => deadline.date.strftime('%b %d %Y %H:%M:%S GMT%z'), |
      :trackNum => @trackCount, |
      :title => deadline.name |
    } |
    - deadline.relative_deadlines.each do |r_deadline|
      %event{ |
        :start => r_deadline.date.strftime('%b %d %Y %H:%M:%S GMT%z'), |
        :trackNum => @trackCount, |
        :title => r_deadline.name |
      } |
      
  - @trackCount += 1
  -@project.tasks.each do |task|
    -task.labor_costs[0..-2].each do |labor_cost|
      %event{ |
        :start => labor_cost.date.strftime('%b %d %Y %H:%M:%S GMT%z'), |
        :end => (labor_cost.date + 1).strftime('%b %d %Y %H:%M:%S GMT%z'), |
        :durationEvent => 'true', |
        :trackNum => @trackCount, |
        :title => labor_cost.task.name |
      } |
        =number_to_currency labor_cost.cost
        ="#{number_to_percentage(labor_cost.percent_complete, :precision => 0)} complete"
    %event{ |
      :start => task.labor_costs.last.date.strftime('%b %d %Y %H:%M:%S GMT%z'), |
      :earliestEnd => (task.labor_costs.last.date + 1).strftime('%b %d %Y %H:%M:%S GMT%z'), |
      :end => (task.deadline.blank? ? (task.labor_costs.last.date + 1).strftime('%b %d %Y %H:%M:%S GMT%z') : task.deadline.date.strftime('%b %d %Y %H:%M:%S GMT%z')) |
    } |
    
    -unless task.deadline.blank?
      %event{ :start => task.deadline.date.strftime('%b %d %Y %H:%M:%S GMT%z'), :title => task.deadline.name, :trackNum => @trackCount}

    - @trackCount += 1