-@project = @parent
=render :partial => 'shared/project_nav', :locals => {:current => :dashboard}

.container
  =render :partial => 'projects/nav', :locals => {:current => :markups}

  %h1 Markups

  =render :partial => 'markup_lines', :locals => {:markups => @markups}
