-@project = @parent
=render :partial => 'shared/project_nav', :locals => {:current => :dashboard}

.container
  =render :partial => 'projects/nav', :locals => {:current => :markups}

  %h1 Markups

  =render :partial => 'markup_lines', :locals => {:markups => @markups}
  
  .markup.add_button
    =link_to new_project_markup_path(@project), :remote => true do
      %button
        =icon :add
        Add markup
