=render :partial => 'shared/project_nav', :locals => {:current => :components}

.container
  -if !@parent.nil? && @parent.class == Component
    -@component = @parent
    =render :partial => 'components/nav', :locals => {:current => :markups}

  %h1 Markups

  =render :partial => 'markup_lines', :locals => {:markups => @markups}
