-@component = @parent
-@project = @component.project
=render :partial => 'shared/project_nav', :locals => {:current => :components}

.container
  =render :partial => 'components/nav', :locals => {:current => :markups}

  %h1 Markups

  =render :partial => 'markup_lines', :locals => {:markups => @markups}
