-content_for :head do
  =javascript_include_tag "jquery.dimscreen.js"

=render :partial => 'shared/project_nav'

%h1
  Payment:
  =@payment.date

%hr

=render :partial => 'steps', :locals => {:current => :balance}

=form_for [@project, @payment], :url => project_payment_path(@project, @payment) do |payment_form|
  =render :partial => 'payment_lines/lines', :locals => {:lines => @payment.lines, :payment_form => payment_form}
  
-if @payment.state == 'unbalanced'
  / Unbalanced
  .alert
    %h2 Your payment isn't balanced - make sure the line items add up to the total payment
-else
  / Balanced
