-content_for :head do
  =javascript_include_tag "jquery.dimscreen.js"

=render :partial => 'shared/project_nav', :locals => {:current => :invoicing}

.container
  %h1
    Payment:
    =@payment.date

  %hr

  =render :partial => 'steps', :locals => {:current => :finished}

  Done!  Good job.  You deserve a beer...
