-content_for :head do
  =javascript_include_tag "jquery.dimscreen.js"

=render :partial => 'shared/project_nav'

%h1
  Payment:
  =@payment.date

%hr

=render :partial => 'steps', :locals => {:current => :finished}

Done!
