%h1 Editing material_cost_line

= render 'form'

= link_to 'Show', material_cost_line_item_path(@material_cost, @material_cost_line)
\|
= link_to 'Back', material_cost_line_items_path(@material_cost)
