%h1 Listing material_cost_lines

render :partial => 'material_cost_lines_list', :locals => {:material_cost_lines => @material_cost_lines, :material_cost => nil}
%br

= link_to 'New Material cost line', new_material_cost_line_item_path(@material_cost)
