<% if @material_cost_line.errors.any? %>

  <% content_for :error_tr do %>
    <tr class='error'><td colspan = 10><strong><%= error_messages_for(@material_cost_line) %></strong></td></tr>
  <% end %>

  //Hide the flash notice div
  $("#flash_notice").hide(300);

  //Add a table row above the input with error info
  $("tr.error").remove();
  $("tr.material_cost_line_fields").before("<%= escape_javascript( yield :error_tr ) %>");

<% else %>

  location.reload();
  
<% end %>
