=render :partial => 'shared/project_nav', :locals => {:current => :components}

.container

  =render :partial => 'components/nav', :locals => {:current => :quantities}

  %h1 Quantities

  =render :partial => 'quantity_list', :locals => {:quantities => @quantities, :component => @component}